<c-card class="mb-4">
    <c-card-header>
      <h2 class="card-title mb-0" id="about">About the project</h2>
    </c-card-header>
    <c-card-body>
        <p cCardText>
            This application is designed to discern the sentiment of textual content. It's a straightforward tool that categorizes any given text as either positive or negative.
        </p>
        <p cCardText>
            For this project, the <a href="https://huggingface.co/cardiffnlp/twitter-roberta-base-sentiment-latest" target="_blank">cardiffnlp/twitter-roberta-base-sentiment-latest</a> model was fine-tuned on the <a href="https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews" target="_blank">IMDB Dataset of 50K Movie Reviews</a> dataset from Kaggle.
        </p>
        <p cCardText>
            Any feedback on the project is appreciated. Please feel free to reach out to me at <a href = "mailto: sushantkarkiii@gmail.com">sushantkarkiii@gmail.com</a>.
        </p>
    </c-card-body>
</c-card>
